/*.cs
/*.dso
/*.exe
/*.dll
/*.ini
/*.decals
/*.txt
/*.lnk
/*.log
/*.pak
/*.dat
/server

/QtQuick.2
/art
/core
/daemon
/data
/gui
/logs
/platforms
/shaders
/scripts


#Mods
/BasilMod
/basilmodloader
/mods/sf-mods
/zip/
/zip/core.bat
/zip/core.zip
/zip/materials.cs.dso

#credits
CREDITS



mods/materials.cs
mods/art/materials.cs.dso
basilmodloader.zip
core.zip
core.zip.crc
mods/sf-gm-tools/init.cs.dso
mods/sf-gm-tools/gui/gm_infobar.gui.dso
mods/sf-gm-tools/gui/gm_locationbar.gui.dso
mods/sf-gm-tools/gui/gm_window.gui.dso
mods/sf-gm-tools/gui/profiles.cs.dso
mods/sf-gm-tools/scripts/commands.cs.dso
mods/sf-gm-tools/scripts/infobar.cs.dso
mods/sf-gm-tools/scripts/locationbar.cs.dso
mods/sf-gm-tools/scripts/main.cs.dso
mods/sf-gm-tools/scripts/starterpack.cs.dso
Tradepost/initmod.cs.dso
