/*.cs
/*.dso
/*.exe
/*.dll
/*.ini
/*.decals
/*.txt
/*.lnk
/*.log
/*.pak
/*.dat
/server

/QtQuick.2
/art
/core
/daemon
/data
/gui
/logs
/platforms
/shaders
/scripts


#Mods
/BasilMod
/basilmodloader
/mods/sf-mods
/mods/LiFx
/zip/
/zip/core.bat
/zip/core.zip
/zip/materials.cs.dso

#credits
CREDITS



mods/materials.cs
mods/art/materials.cs.dso
basilmodloader.zip
