/*.cs
/*.dso
/*.exe
/*.dll
/*.ini
/*.decals
/*.txt
/*.lnk
/*.zip
/*.log
/*.pak
/*.dat
/server

/QtQuick.2
/art
/core
/daemon
/data
/gui
/logs
/platforms
/shaders
/scripts


#Mods
/BasilMod
/basilmodloader
/mod/sf-mods

#credits
CREDITS



